appdirs==1.4.4
asgiref==3.2.10
certifi==2020.12.5
chardet==3.0.4
distlib==0.3.1
dj-stripe==2.4.1
Django==3.1.1
django-crispy-bulma==0.2
django-crispy-forms==1.11.1
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
jsonfield==3.1.0
numpy==1.20.1
opencv-python==4.5.1.48
Pillow==7.2.0
PyMySQL==1.0.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.25.0
six==1.15.0
sqlparse==0.3.1
stripe==2.55.1
urllib3==1.26.2
virtualenv==20.2.1
whitenoise==5.2.0
