{% extends "frontpage/base.html" %}
{% block content %}
<div class="container">
        <div class="columns is-multiline">
            <div class="column is-12">
                <center><h1 class="title">Students ({{ students.all.count }})</h1>
                <a href="{% url 'add_student' %}" class="button is-primary">Add Student</a>
                <a class="button is-dark" href="{% url 'active_inactive' %}">Active/Inactive</a><br>
                <br>
                <a class="button is-danger" href="{% url 'genders' %}">Genders</a><br>
                </center>
                <br>
                <center><div>
                    <form method="GET" action="{% url 'student_search' %}">
                       <input name="query" class="input" type="search" placeholder="Search by Student Name or ID...." aria-label="Search">
                        <br>
                        <br>
                       <button class="button is-info" type="submit">Search</button>
                    </form>
                </div></center>
            </div>

                <div class="column is-10 is-offset-1">
                    <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Active</th>
                                <th>ID</th>
                                <th>Paid</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Bill</th>
                                <th>Name</th>
                                <th>F.Name</th>
                                <th>Admission Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{ student.active }}</td>
                                    <td>{{ student.public_id }}</td>
                                    <td>{% if student.has_paid %}
                                            &#10003
                                        {% else %}
                                            X
                                        {% endif %}</td>
                                    <td><a class="button is-primary" href="{% url 'view_student' student.id %}">View</a></td>
                                    <td><a class="button is-warning" href="{% url 'edit_student' student.id%}">Edit</a></td>
                                    <td><a class="button is-info" href="{% url 'bill_list' student.id%}">Bill</a></td>
                                    <td>{{ student.name }}</td>
                                    <td>{{ student.father_name }}</td>
                                    <td>{{ student.admission_date }}</td>
                                    <td>{{ student.admission_end }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% load i18n %}

{% if is_paginated %}
<nav class="pagination is-centered">
  {% if page_obj.has_previous %}
    <a class="pagination-previous" href="?page=
        {{ page_obj.previous_page_number|stringformat:"d" }}{{ getvars }}{{ hashtag }}">{% trans "Previous" %}</a>
  {% else %}
    <a class="pagination-previous" disabled>{% trans "Previous" %}</a>
  {% endif %}

  {% if page_obj.has_next %}
    <a class="pagination-next"
       href="?page={{ page_obj.next_page_number|stringformat:"d" }}{{ getvars }}{{ hashtag }}">{% trans "Next" %}</a>
  {% else %}
    <a class="pagination-next" disabled>{% trans "Next" %}</a>
  {% endif %}

  <ul class="pagination-list">
    {% for page in paginator.page_range %}
      <li><a class="pagination-link{% ifequal page page_obj.number %} is-current{% endifequal %}"
             href="?page={{ page|stringformat:"d" }}{{ getvars }}{{ hashtag }}">{{ page|stringformat:"d" }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% endblock content %}