{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script defer src="{% static 'js/theme.js'%}"></script>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" >

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="{% url 'frontpage' %}" class="nav-link">
          <span class="link-text logo-text">R.P.S</span>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="angle-double-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M22 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
        </a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'all_students' %}" class="nav-link">
            <span class="link-text">Students</span>
          </a>
        </li>
      {% endif %}

      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'all_staff' %}" class="nav-link">
            <span class="link-text">Staff</span>
          </a>
        </li>
      {% endif %}

      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'all_classes' %}" class="nav-link">
            <span class="link-text">Classes</span>
          </a>
        </li>
      {% endif %}

      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'all_income' %}" class="nav-link">
            <span class="link-text">Income</span>
          </a>
        </li>
      {% endif %}

      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'show_classes' %}" class="nav-link">
            <span class="link-text">Results</span>
          </a>
        </li>
      {% endif %}

       <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.facebook.com/profile.php?id=100063502813036">
            <span class="link-text">Facebook</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'about' %}" class="nav-link">
            <span class="link-text">About</span>
          </a>
        </li>

      {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <span class="link-text">Logout</span>
            </a>
          </li>
      {% else %}
           <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">
                <span class="link-text">Login</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">
                <span class="link-text">Log in to view tabs.</span>
              </a>
            </li>
    {% endif %}

      {% if user.is_authenticated %}
      <li class="nav-item" id="themeButton">
        <a href="#" class="nav-link">
          <span class="link-text">{{request.user}}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

   {% if request.get_full_path == '/' %}
        <div>
            <img class="mySlides" style="position:fixed;" src="{% static 'images/1.jpg' %}" width="100%">
            <img class="mySlides" style="position:fixed;" src="{% static 'images/2.jpg' %}" width="100%">
            <img class="mySlides" style="position:fixed;" src="{% static 'images/3.jpg' %}" width="100%">
            <img class="mySlides" style="position:fixed;" src="{% static 'images/4.jpg' %}" width="100%">
        </div>
    {% endif %}

    <section class="section">
          {% block content %}
          {% endblock content%}
    </section>
 {% block scripts %}
 {% endblock scripts %}
</body>

<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > x.length) {slideIndex = 1}
      x[slideIndex-1].style.display = "block";
      setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>